<div class="container-fluid admin_toolbar">
    <div class="row toolbar align-items-center">
        <div class="col-5">
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Название песни, исполнитель, пометка"/>
                    <span class="input-group-btn">
                        <button class="nav_button btn-outline-secondary" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-auto col-menu">
            <div class="row menu align-items-center" id="col">
                <div class="col-4">
                    <div class="text-center">
                        <button class="nav_button songs" type="button">
                            <p>Songs</p>
                        </button>
                    </div>
                </div>
                <div class="col-4">
                    <div class="text-center">
                        <button class="nav_button charts" type="button">
                            <p>Charts</p>
                        </button>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <button class="nav_button users" type="button">
                            <p>Users</p>
                        </button>
                    </div>
                </div>
            </div>
            <hr class="underline"/>
        </div>
    </div>
</div>