<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
    <div class="song_item">
        <div class="logo"></div>
        <div class="info">
            <p>Howard Shore</p>
            <p>Days of the ring</p>
        </div>
    </div>

</div>

