<div class="col-12 col-sm-6 col-md-4 col-xl-3 song_item">
        <div class="row align-items-center no-gutters">
            <div class="col-3 image">
                <img class="img-rounded" src="{{ asset("apple-touch-icon.png") }}"/>
            </div>
            <div class="col-1 "></div>
            <div class="col-8 info">
                <p>Howard Shore</p>
                <p>Days of the ringffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</p>
            </div>
        </div>
</div>

