<div class="col-12 col-sm-6 col-md-4 col-xl-3 song_item">
    <div class="row align-items-center no-gutters new_song_item" data-toggle="modal" data-target="#myModal">
        <div class="col-3 image">
            <i class="glyphicon glyphicon-plus"></i>
        </div>
        <div class="col-1 "></div>
        <div class="col-8 info">
            <p>Create new song</p>
        </div>
    </div>


</div>

