<div class="container-fluid song_list">
    <div class="row">
        {% include "default/new_song_item.html.twig" %}
        {% for i in 0..50 %}
            {% include "default/linear_song_item.html.twig" %}
        {% endfor %}
    </div>
</div>
