<div class="row justify-content-center">
    <div class="col-2 rating star1">
        <input type="radio" id="s1" name="rating" value="5"/>
        <label class="full" for="s1"></label>
    </div>
    <div class="col-2 rating star2">
        <input type="radio" id="s2" name="rating" value="4"/>
        <label class="full" for="s2"></label>
    </div>
    <div class="col-2 rating star3">
        <input type="radio" id="s3" name="rating" value="3"/>
        <label class="full" for="s3"></label>
    </div>
    <div class="col-2 rating star4">
        <input type="radio" id="s4" name="rating" value="2"/>
        <label class="full" for="s4"></label>
    </div>
    <div class="col-2 rating star5">
        <input type="radio" id="s5" name="rating" value="1"/>
        <label class="full" for="s5"></label>
    </div>
</div>