.toolbar p {
    margin: 0;
}

.toolbar button{
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
}


.toolbar input{
    padding-left: 0;
    padding-right: 0;
    border: 0;
    background: none;
    box-shadow: none;
    font-size: 1.3em;
}

.toolbar {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #EEEEEF;
    box-shadow: 0 4px 10px #d2d2d2;
}

.input-container {
    height: 100%;
    padding-left: 3%;
    padding-right: 1%;
    margin: 1em 0 1em 0;
    border: solid 1px #E4E4E4;
    border-radius: 100px;
    background-color: white;
}



.input-container button:hover {
    color: black;
}

.glyphicon-search{
    font-size: 16px;
}

.menu {
    margin: 1em 0 1em 0;
}

.menu button {
    display: inline;
    background: none;
    box-shadow: none;
    border: 0;
    font-size: 1.3em;
}

.underline {
    height: 0.1em;
    width: 0;
    margin: 0 0 0 -15px;
    transform: translate(0px, -0.1em);
    background: #666666;
    border: none;
    transition: .3s ease-in-out;
}